.header-top-st-left-col-4{
     width: 33%;
     display: flex;
     flex-wrap: nowrap;
     
    }
.header-top-st-left-col-4 ul{
    display: flex;
   
    justify-content: space-evenly;
    padding: 10px;
    list-style-type: none;
}
.header-top-st-left-col-4 .envelope{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 16px;
}
.header-top-st-left-col-4 .envelope h6{
    margin-left: 5px;
}
.header-top-st-left-col-4 .comment{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 16px;
}
.header-top-st-left-col-4 .comment h6{
   margin-left: 5px;
}
.header-top-st-left-col-4 ul li{
    margin-left: 16px;
}

.header-top-st-center-col-4{
    width: 33%;
    display: flex;
    justify-content: center;
}
.header-top-st-center-col-4 a .container{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 50px;
}
.header-top-st-center-col-4 a .container h6{
    margin-left: 5px;
}
.header-top{
    display: flex;
    align-items: center;
    
}

.header-top-st-right-col-4{
    width: 33%;
}
.header-top-st-right-col-4 .container{
    display: flex;
    justify-content: flex-end;
}



.header-bottom .header-bottom-st-left-col-3{
    width: 20%;
    display: flex;
    justify-content: space-around;
    
}

.header-bottom {
    display: flex;
    align-items: center;
}
.header-bottom .header-bottom-st-left-col-3 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom .header-bottom-st-left-col-3 .container i{
    margin-left: 16px;
   
}
.header-bottom .header-bottom-st-left-col-3 .container img{
    height: 30px;
}

