header{
    width: 100%;
    height: 110px;
}
.header-top{
    height: 40px;
    width: 100%;
    background-color: rgb(61, 61, 213);
  
}
.header-bottom{
    height: 70px;
    width: 100%;
    background-color:rgb(43, 41, 41) ;
    position: fixed;
}
    